.book-summary-item {
  display: grid;

  margin-bottom: 0.75rem;
  padding: 10px 20px;
  height: 250px;

  background-color: rgba(210, 210, 210, 0.2);
  border-radius: 5px;
  box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.25);
  align-content: flex-start;

  grid-template-columns: 100px 1fr;
  grid-template-rows: 100px auto;
}

.book-item-thumbnail {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  align-self: center;
}

img {
  max-height: 100px;
}

.book-item-title {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  font-weight: 700;
  font-size: 1.3em;

  overflow: hidden;
}

.title-paragraph {
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.book-author {
  font-size: 0.85rem;
  font-weight: normal;
  padding-top: 5px;
}

.book-item-description {
  grid-column: 1 / 3;
  grid-row: 2 / 3;
  //margin-right: 2rem;
  margin-bottom: 2rem;
  margin-top: 1rem;
  font-size: 0.85rem;
  letter-spacing: 0.5px;
  color: rgba(50, 50, 50, 0.85);
}

.book-item-description p {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
}
