:host {
  margin: 0;
  padding: 0;
  position: sticky;
}
header {
  display: grid;
  height: 150px;
  margin: 0;
  padding: 0;

  position: sticky;
  top: 0;

  background-image: url("/assets/img/old-books-498_1280.jpg");
  background-position: center left;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.95;

  grid-template-columns: 25px 1fr minmax(700px, 5fr) 1fr 25px;
  place-items: center;
  align-content: center;
}

.logo {
  grid-column: 2 / 3;
  color: white;
  margin: 0;
  padding: 0;
}

app-navbar {
  grid-column: 3 / 4;
  align-self: end;
  justify-self: left;
}
