// Typography styles.
html {
  font-size: 16px;
}

body {
  font-family: $text-font-stack;
  line-height: 1.5;
}

h1 {
}

h2 {
}

p {
  color: $text-color;
  letter-spacing: $text-letter-spacing;
  line-height: $text-line-height;
}
